body {
    background-color: white;
}

body, html {
    height: 100%;
    width: 100%;
}

.block-nav {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
}

.button {
    padding-top: 10px;
    text-align: center;
    width: 100px;
    height: 35px;
    background-color: lightskyblue;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 20px;
}

.button:hover {
    background-color: red;
}

header{
    background-color: #73bae6;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: -14px;
}
header .container h1{
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}


a:visited{
    text-decoration: none;
    color: black;
}


nav{
    background-color: lightskyblue;
    width: 100%;
    height: 50px;
}
footer {
    background: white; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 1000px;
    min-height: 15%;
    margin: 0 auto -20px;

}

main {
    padding-top: 100px;
    width: 1000px;
    min-height: 95%;
    margin: -16px auto 0 auto;
    background-color: white;
    overflow: hidden;
}
main .container{
    padding-left: 20px;
}


.my_link {
    text-align: center;
    padding-top: 5px;
    float: left;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 30px;
}

.my_link:hover{
    background-color: red;
}


